<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <section id="home" class="section section-bg" > 
    <div class="container home">
      <div class=" homeTitle">
        <div class="htitle">
          <h1 class="display-4"> <b> Welcome to <%= title %> page</b></h1>
        </div>
        
      </div>
      <div class="HomeDes">
        <% if(typeof displayName=='string' && displayName) { %>
          <h1> <b>Welcome, <%= displayName %></b> </h1>
          <div class="loginbtn">
            <a href='/incident-list' class="login-btn"><span class="btntxt">Incidents</span></a>
          </div>
        <% } else { %>
          <h1> <b>Team Alpha</b> </h1>
          <p>Experts in Incident Management</p>
          <div class="loginbtn">
            <a href='/user/login' class="login-btn"><span class="btntxt">Login</span></a>
          </div>
          <% } %>
      </div>
    </div>
  </section>
  
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




