<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

  <!-- Main Content -->
  <section class="incidentlist">
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-11">
                <div class="listTitle">
                    <h1 class="heading"><b><%= title %></b></h1>

                </div>
                
    
                <% if(typeof displayName=='string' && displayName) { %>
                    <a href="/incident-list/add" class="btn btn-primary addincidentbtn" role="button">
                    <i class="fas fa-plus-circle"></i> Add a Incident</a>
                    <% } %>
                <br>
                <div class="table-responsive table1">
                    <table class="table table-bordered table-striped table-hover" id="TableContent">
                        <!-- Header Row-->
                        <tr class="d-flex">
                            <% if(typeof displayName == 'string' && displayName) { %>
                                <th class="text-center col-2">IncidentTitle</th>
                                <th class="text-center col-2">Customer</th>
                                <th class="text-center col-2">RecordNumber</th>
                                <th class="col-4">Description</th>
                                <th class="text-center col-1">Priority</th>
                                <th class="text-center col-1"></th>
                                <th class="text-center col-1"></th>
                            <% } else { %>
                                <th class="text-center col-2">IncidentTitle</th>
                                <th class="text-center col-2">Customer</th>
                                <th class="text-center col-2">RecordNumber</th>
                                <th class="col-4">Description</th>
                                <th class="text-center col-1">Priority</th>
                            <% } %>
                        </tr>
        
                        <!-- Repeatable Template Row -->
        
                        <% for(let count = 0; count < IncidentList.length; count++) { %>
                            <tr class="d-flex">
                                <% if(typeof displayName == 'string' && displayName) { %>
                                    <td class="text-center col-2"><%= IncidentList[count].name %></td>
                                    <td class="text-center col-2"><%= IncidentList[count].customer %></td>
                                    <td class="text-center col-2"><%= IncidentList[count].recordnumber %></td>
                                    <td class="col-4"><%= IncidentList[count].description %></td>
                                    <td class="text-center col-1"><%= IncidentList[count].priority %></td>
                                    <td class="text-center col-1">
                                        <a href="/incident-list/edit/<%= IncidentList[count]._id %>" class="btn btn-primary btn-sm">
                                        <i class="fas fa-pencil-alt"></i> Edit</a>
                                    </td>
                                    <td class="text-center col-1">
                                        <a href="/incident-list/delete/<%= IncidentList[count]._id %>" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash-alt"></i> Delete</a>
                                    </td>
                                    <% } else { %>
                                        <td class="text-center col-2"><%= IncidentList[count].name %></td>
                                        <td class="text-center col-2"><%= IncidentList[count].customer %></td>
                                        <td class="text-center col-2"><%= IncidentList[count].recordnumber %></td>
                                        <td class="col-4"><%= IncidentList[count].description %></td>
                                        <td class="text-center col-1"><%= IncidentList[count].priority %></td>
                                    <% } %>
                                </tr>
                        <% } %>
                    </table>

                </div>

                
            </div>
        </div>
    </div>

  </section>
  
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>